.card {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  background-color: rgb(236, 229, 221);
  padding: 20px;
  border-radius: 10px;

}

.card > img {
  width: 200px;
  height: 200px;
}
button {
  width: 100px;
  padding: 5px 20px;
}
